### Task 1-1: Import the Dataset

- **Description**: In this task, you'll load the dataset from the file in the root directory named `rfm_data.csv` and assign it to the variable `df`.

- **Code Instructions**:
  1. Import the dataset using the path `'./rfm_data.csv'` and assign it to `df`.

In [40]:
import pandas as pd

# Step 1-1: Import the dataset
df = pd.read_csv('./rfm_data.csv')

### Task 1-2: Check for Missing Values

- **Description**: In this task, you'll identify any missing data in key columns such as `Last Purchase Date`, `Total Number of Purchases`, and `Total Spend (Monetary Value)`.

- **Code Instructions**:
  1. Check for missing values and store the result in a variable.

In [43]:
# Step 1-2: Check for missing values (store the result in a variable)
missing_values = df.isnull().sum()
missing_values

Customer ID                      0
Last Purchase Date               0
Total Number of Purchases        0
Total Spend (Monetary Value)    17
Account Created Date             0
dtype: int64

### Task 1-3: Handle Missing Values

- **Description**: In this task, you'll handle any missing values by filling them in the `Total Spend (Monetary Value)` column with the median value.

- **Code Instructions**:
  1. Fill missing values in the `Total Spend (Monetary Value)` column with the median.

In [46]:
# Step 1-3: Handle missing values
df['Total Spend (Monetary Value)'].fillna(df['Total Spend (Monetary Value)'].median(), inplace=True)

# Store the result for future use
missing_values_handled = df.head()
missing_values_handled

,Customer ID,Last Purchase Date,Total Number of Purchases,Total Spend (Monetary Value),Account Created Date
0,C00001,2024-08-30 17:29:59.452452,7,4078.598815,2024-06-22 17:29:59.452452
1,C00002,2021-01-30 17:29:59.452452,3,287.149552,2022-10-12 17:29:59.452452
2,C00003,2022-10-20 17:29:59.452452,1,188.065619,2022-11-24 17:29:59.452452
3,C00004,2024-02-25 17:29:59.452452,5,423.191808,2022-07-13 17:29:59.452452
4,C00005,2024-02-10 17:29:59.452452,2,111.877067,2020-12-20 17:29:59.452452

### Task 1-4: Convert Date Columns

- **Description**: In this task, you'll ensure that the `Last Purchase Date` and `Account Created Date` columns are in the correct `datetime` format.

- **Code Instructions**:
  1. Convert the `Last Purchase Date` and `Account Created Date` columns to `datetime` format.

In [49]:
# Step 1-4: Convert 'Last Purchase Date' and 'Account Created Date' to datetime format
df['Last Purchase Date'] = pd.to_datetime(df['Last Purchase Date'], errors='coerce')
df['Account Created Date'] = pd.to_datetime(df['Account Created Date'], errors='coerce')

# Store the result for future use
date_converted = df.head()
date_converted

,Customer ID,Last Purchase Date,Total Number of Purchases,Total Spend (Monetary Value),Account Created Date
0,C00001,2024-08-30 17:29:59.452452,7,4078.598815,2024-06-22 17:29:59.452452
1,C00002,2021-01-30 17:29:59.452452,3,287.149552,2022-10-12 17:29:59.452452
2,C00003,2022-10-20 17:29:59.452452,1,188.065619,2022-11-24 17:29:59.452452
3,C00004,2024-02-25 17:29:59.452452,5,423.191808,2022-07-13 17:29:59.452452
4,C00005,2024-02-10 17:29:59.452452,2,111.877067,2020-12-20 17:29:59.452452

### Task 1-5: Handle Outliers

- **Description**: In this task, you'll cap extremely high values in `Total Spend (Monetary Value)` to a maximum of 5000 to prevent them from skewing the analysis.

- **Code Instructions**:
  1. Cap `Total Spend (Monetary Value)` at 5000 to handle outliers.

In [52]:
import numpy as np

# Step 1-5: Handle outliers in 'Total Spend (Monetary Value)'
df['Total Spend (Monetary Value)'] = np.where(df['Total Spend (Monetary Value)'] > 5000, 5000, df['Total Spend (Monetary Value)'])

# Store the result for future use
outliers_handled = df.head()
outliers_handled

,Customer ID,Last Purchase Date,Total Number of Purchases,Total Spend (Monetary Value),Account Created Date
0,C00001,2024-08-30 17:29:59.452452,7,4078.598815,2024-06-22 17:29:59.452452
1,C00002,2021-01-30 17:29:59.452452,3,287.149552,2022-10-12 17:29:59.452452
2,C00003,2022-10-20 17:29:59.452452,1,188.065619,2022-11-24 17:29:59.452452
3,C00004,2024-02-25 17:29:59.452452,5,423.191808,2022-07-13 17:29:59.452452
4,C00005,2024-02-10 17:29:59.452452,2,111.877067,2020-12-20 17:29:59.452452

### Task 2: Calculating Recency

- **Description**: In this task, you'll calculate the recency of each customer by measuring how long it has been since their last purchase. Customers who made recent purchases are more likely to engage again, and we need to store this as a new column called `Recency` (in days).

- **Code Instructions**:
  1. Set a reference date (e.g., today’s date) to calculate the difference between the current date and the customer’s `Last Purchase Date`.
  2. Calculate the time difference in days and store it in a new column called `Recency`.

In [55]:
# Step 2-1: Set reference date (e.g., today's date)
reference_date = pd.Timestamp('2024-10-07')  # Adjust this based on your analysis date

# Step 2-2: Calculate recency (difference in days between reference date and Last Purchase Date)
df['Recency'] = (reference_date - df['Last Purchase Date']).dt.days

### Task 3: Calculating Frequency

- **Description**: In this task, you'll calculate how frequently a customer has made purchases during the analysis period. Customers who purchase more frequently are more engaged, and this value is already available in the dataset in the `Total Number of Purchases` column.

- **Code Instructions**:
  1. Simply copy the `Total Number of Purchases` column to a new column called `Frequency` to represent how often the customer has purchased.

In [58]:
# Step 3: Copy 'Total Number of Purchases' to a new column called 'Frequency'
df['Frequency'] = df['Total Number of Purchases']

### Task 4: Calculating Monetary Value

- **Description**: In this task, you'll calculate how much each customer has spent. This value is already available in the dataset as `Total Spend (Monetary Value)`. The goal is to ensure it's properly handled for RFM segmentation.

- **Code Instructions**:
  1. Copy the `Total Spend (Monetary Value)` column to a new column called `Monetary`, which will represent how much the customer has sent.

In [61]:
# Step 4: Copy 'Total Spend (Monetary Value)' to a new column called 'Monetary'
df['Monetary'] = df['Total Spend (Monetary Value)']

### Task 5: Assigning RFM Scores

- **Description**: In this task, you'll assign scores for Recency, Frequency, and Monetary based on quartiles. The highest quartile (4) should represent the best behavior: most recent purchases, highest frequency, and highest monetary value. You'll combine these scores into a single `RFM_Score`.

- **Code Instructions**:
  1. Use `pd.qcut()` to assign quartile-based scores (1 to 4) for `Recency`, `Frequency`, and `Monetary`.
  2. For `Recency`, reverse the scoring so that a more recent purchase gets a higher score.
  3. Combine the three scores into a new column `RFM_Score`.

In [64]:
# Step 5-1: Assign scores based on quartiles (1 to 4) for each R, F, and M
df['R_Score'] = pd.qcut(df['Recency'], 4, labels=[4, 3, 2, 1])  # Higher score for most recent (4 is best)
df['F_Score'] = pd.qcut(df['Frequency'], 4, labels=[1, 2, 3, 4])  # Higher score for more frequent (4 is best)
df['M_Score'] = pd.qcut(df['Monetary'], 4, labels=[1, 2, 3, 4])  # Higher score for higher spend (4 is best)

# Step 5-2: Combine the scores into a single RFM score
df['RFM_Score'] = df['R_Score'].astype(str) + df['F_Score'].astype(str) + df['M_Score'].astype(str)

### Task 6: Segmenting Customers (Fixed)

- **Description**: In this task, you'll segment customers based on their RFM scores into meaningful groups. The logic has been fixed by casting the scores to integers to ensure the conditions are evaluated properly.

- **Code Instructions**:
  1. Define clear rules for each customer segment:
     - **Best Customers**: Customers who score 4 in **all three categories** (Recency, Frequency, and Monetary).
     - **Loyal Customers**: Customers with a **high Recency score (R_Score = 4)**, regardless of their Frequency or Monetary score.
     - **Churned Customers**: Customers with **low Recency (R_Score = 1)** and **low Frequency (F_Score = 1)**.
     - **High-Spending Customers**: Customers with a **high Monetary score (M_Score = 4)**.
     - **Other**: Any customers who don’t fit into the above segments.
  2. Assign each customer to a segment and store the result in a new column called `Customer_Segment`.

In [67]:
# Step 6: Define updated segmentation based on RFM scores, ensuring correct type casting
def segment_customers(df):
    if int(df['R_Score']) == 4 and int(df['F_Score']) == 4 and int(df['M_Score']) == 4:
        return 'Best Customer'  # Best in Recency, Frequency, and Monetary
    elif int(df['R_Score']) == 4:
        return 'Loyal Customer'  # Most recent purchases (R_Score = 4)
    elif int(df['R_Score']) == 1 and int(df['F_Score']) == 1:
        return 'Churned Customer'  # Low Recency and Frequency (R_Score = 1, F_Score = 1)
    elif int(df['M_Score']) == 4:
        return 'High-Spending Customer'  # High spenders (M_Score = 4)
    else:
        return 'Other'  # Default group for customers who don't fit the above categories

# Apply segmentation to each customer
df['Customer_Segment'] = df.apply(segment_customers, axis=1)

### Task 7: Counting Customer Segments

- **Description**: In this task, you'll count how many customers fall into each segment. This will help you understand the distribution of your customer base across the different segments.

- **Code Instructions**:
  1. Group the data by `Customer_Segment` to count the number of customers in each segment.
  2. Store the result in a variable for further analysis or reporting.

In [69]:
# Step 7: Count the number of customers in each segment
segment_counts = df['Customer_Segment'].value_counts().reset_index()
segment_counts.columns = ['Customer_Segment', 'Count']

# Store the result in a variable for future use
segment_counts

         Customer_Segment  Count
0                   Other  24857
1          Loyal Customer  11944
2  High-Spending Customer   8317
3        Churned Customer   4240
4           Best Customer    642

### Task 8: Calculate Total Order Value per Segment

- **Description**: In this task, you'll calculate the total order value for each customer segment. This helps to understand the revenue contribution of each segment, allowing for more focused marketing efforts.

- **Code Instructions**:
  1. Group the data by `Customer_Segment`.
  2. Sum the `Monetary` values for each segment to calculate the total order value.
  3. Store the result in a variable for further analysis.

In [73]:
# Step 8: Calculate total order value (Monetary) per segment
total_order_value_per_segment = df.groupby('Customer_Segment')['Monetary'].sum().reset_index()
total_order_value_per_segment.columns = ['Customer_Segment', 'Total Order Value']

# Store the result for future use
total_order_value_per_segment

         Customer_Segment  Total Order Value
0           Best Customer       5.137565e+05
1        Churned Customer       1.622725e+06
2  High-Spending Customer       6.612281e+06
3          Loyal Customer       4.270368e+06
4                   Other       6.095836e+06

### Task 9: Calculate Average Number of Order Days per Segment

- **Description**: In this task, you'll calculate the average number of order days (frequency) for each customer segment. This helps you understand how frequently customers in each segment make purchases, providing insight into engagement levels.

- **Code Instructions**:
  1. Group the data by `Customer_Segment`.
  2. Calculate the average `Frequency` for each segment to represent the average number of order days.
  3. Store the result in a variable for further analysis.

### Task 11: Combine Results into a Final Summary Table

- **Description**: In this task, you'll combine the various metrics calculated (segment size, total order value, average order days, and average recency) into a single summary table. This table provides a comprehensive view of each segment's behavior and contribution.

- **Code Instructions**:
  1. Merge the previously calculated results: segment size, total order value, average order days, and average recency.
  2. Store the combined result in a summary table for easy analysis.

In [77]:
# Step 9: Calculate the average number of order days (Frequency) per segment
avg_order_days_per_segment = df.groupby('Customer_Segment')['Frequency'].mean().reset_index()
avg_order_days_per_segment.columns = ['Customer_Segment', 'Average Order Days']

# Store the result for future use
avg_order_days_per_segment

         Customer_Segment  Average Order Days
0           Best Customer            8.562305
1        Churned Customer            1.500708
2  High-Spending Customer            4.560178
3          Loyal Customer            4.004186
4                   Other            4.527015

### Task 10: Calculate Days Since Last Order (Recency) per Segment

- **Description**: In this task, you'll calculate the average number of days since the last order (Recency) for each customer segment. This provides insight into how recently customers in each segment made a purchase, helping to identify which segments are most engaged or at risk of churn.

- **Code Instructions**:
  1. Group the data by `Customer_Segment`.
  2. Calculate the average `Recency` (days since last order) for each segment.
  3. Store the result in a variable for further analysis.

In [80]:
# Step 10: Calculate the average days since last order (Recency) per segment
avg_recency_per_segment = df.groupby('Customer_Segment')['Recency'].mean().reset_index()
avg_recency_per_segment.columns = ['Customer_Segment', 'Average Days Since Last Order']

# Store the result for future use
avg_recency_per_segment

         Customer_Segment  Average Days Since Last Order
0           Best Customer                      99.560748
1        Churned Customer                     816.004481
2  High-Spending Customer                     447.381027
3          Loyal Customer                      98.597287
4                   Other                     446.275938

### Task 11: Combine Results into a Final Summary Table

- **Description**: In this task, you'll combine the various metrics calculated (segment size, total order value, average order days, and average recency) into a single summary table. This table provides a comprehensive view of each segment's behavior and contribution.

- **Code Instructions**:
  1. Merge the previously calculated results: segment size, total order value, average order days, and average recency.
  2. Store the combined result in a summary table for easy analysis.

In [83]:
# Step 11: Merge all the calculated metrics into a final summary table

# Merging segment counts with total order value
summary_table = segment_counts.merge(total_order_value_per_segment, on='Customer_Segment')

# Merging with average order days
summary_table = summary_table.merge(avg_order_days_per_segment, on='Customer_Segment')

# Merging with average recency
summary_table = summary_table.merge(avg_recency_per_segment, on='Customer_Segment')

# Store the final summary table for future use
summary_table

,Customer_Segment,Count,Total Order Value,Average Order Days,Average Days Since Last Order
0,Other,24857,6.095836e+06,4.527015,446.275938
1,Loyal Customer,11944,4.270368e+06,4.004186,98.597287
2,High-Spending Customer,8317,6.612281e+06,4.560178,447.381027
3,Churned Customer,4240,1.622725e+06,1.500708,816.004481
4,Best Customer,642,5.137565e+05,8.562305,99.560748