In [1]:
# --- Write your code into below function ---

def check_palindrome(word):
    
    # --- WRITE YOUR CODE FOR TASK 1 ---
    
    word = word.lower()
    is_palindrome = word == word[::-1]
    
    return is_palindrome

# Example usage
check_palindrome("Radar")

True

In [3]:
# --- Write your code into below function ---

def count_vowels(text):
    # --- WRITE YOUR CODE FOR TASK 1 ---
    
    vowels = "aeiou"
    vowel_count = sum(1 for char in text.lower() if char in vowels)
    
    return vowel_count

# Example usage
count_vowels("aa")

2

In [5]:
# --- Write your code into below function ---

def find_min_max(temperatures):
    
    # --- WRITE YOUR CODE FOR TASK 1 ---
    
    min_temp = min(temperatures)
    max_temp = max(temperatures)
    
    return min_temp, max_temp

# Example usage
find_min_max([-1, 25, 15])

(-1, 25)

In [7]:
# --- Write your code into below function ---

def calculate_average(scores):
    
    # --- WRITE YOUR CODE FOR TASK 2 ---
    
    total = sum(scores)
    average_score = total / len(scores)
    
    return average_score

# Example usage
calculate_average([12, 15, 5, 6])

9.5

In [9]:
# --- Write your code into below function ---

def find_primes(start, end):
    
    # --- WRITE YOUR CODE FOR TASK 1 ---
    
    primes = []
    for num in range(start, end + 1):
        if num > 1 and all(num % i != 0 for i in range(2, int(num**0.5) + 1)):
            primes.append(num)
    
    return primes

# Example usage
find_primes(4, 6)

[5]

In [11]:
# --- Write your code into below function ---

def sort_grades(grades):
    
    # --- WRITE YOUR CODE FOR TASK 2 ---
    
    sorted_grades = sorted(grades.items(), key=lambda x: x[1], reverse=True)
    
    return sorted_grades

# Example usage
sort_grades({"Steve": 12, "Taylor": 20})
#Output: [('Taylor', 20), ('Steve', 12)]

[('Taylor', 20), ('Steve', 12)]

In [13]:
# --- Write your code into below function ---

def celsius_to_fahrenheit(celsius):
    
    # --- WRITE YOUR CODE FOR TASK 1 ---
    
    fahrenheit_temp = (celsius * 9/5) + 32
    
    return fahrenheit_temp

# Example usage
celsius_to_fahrenheit(10)

50.0

In [15]:
# --- Write your code into below function ---

def calculate_compound_interest(principal, rate, time):
    
    # --- WRITE YOUR CODE FOR TASK 2 ---
    
    compound_interest = principal * (1 + rate / 100) ** time
    
    return compound_interest

# Example usage
calculate_compound_interest(100, 2, 2)

104.03999999999999

In [17]:
# --- Write your code into below function ---

def factorial(n):
    
    # --- WRITE YOUR CODE FOR TASK 1 ---
    
    result_factorial = 1
    for i in range(1, n + 1):
        result_factorial *= i
        
    return result_factorial

# Example usage
factorial(3)

6

In [19]:
# --- Write your code into below function ---

def fibonacci(n):
    
    # --- WRITE YOUR CODE FOR TASK 5 ---
    
    fibonacci_series = [0, 1]
    for i in range(2, n):
        next_term = fibonacci_series[i - 1] + fibonacci_series[i - 2]
        fibonacci_series.append(next_term)
        
    return fibonacci_series[:n]

# Example usage
fibonacci(5)

[0, 1, 1, 2, 3]